<form class="form" action="{{ path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) }}" method="POST">
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{{ 'filter.title'|trans }}</label>
        <div class="col-md-3">
            <select class="custom-select form-control" name="filter_post" id="filter_post">
                <option value="user">Auteur</option>
                <option value="createdAt">Date de publication</option>
                <option value="title">Titre</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="custom-select form-control" name="direction" id="direction">
                <option value="desc">Desc</option>
                <option value="asc">Asc</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary margin" type="submit"><span class="fa fa-check"></span>
                &nbsp;{{ 'filter.button'|trans }}
            </button>
        </div>
    </div>

</form>